.logo {
  height: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }

  span {
    font-size: 12px;
    opacity: 0.7;
  }
}

.header-title {
  font-size: 20px;
  font-weight: 500;
}
